*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import 'tailwindcss';
@import 'bootstrap-icons/font/bootstrap-icons.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


/* ---------------------basic and main layout----------------------- */
html,
body{
    height: 100%;
    min-height: 100%;
}
html{
    font-family: 'Century Gothic';
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
}
.site-icon{
    font-size: 40px;
    margin-right: 10px;
    transition: color 0.3s ease;
}
.site-icon:hover,
.site-icon:focus{
    color: rgb(107, 57, 0);
}
.site-name{
    transition: color 0.3s ease;
}
.site-name:hover,
.site-name:focus{
    color: rgb(107, 57, 0);
}
.index-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.index-con h2{
    font-size: 30px;
    font-weight: bold;
}
header{
    background-color: rgb(255, 145, 1);
    color: white;
    font-weight: bold;
}
header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer{
    background-color: rgb(255, 145, 1);
    color: white;
    font-weight: bold;
}
footer div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navigation-div{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    color: black;
}
.navigation-li{
    color: rgba(0, 0, 0, 0.507);
    transition: color 0.3s ease;
}
.navigation-li:hover,
.navigation-li:focus{
    color: rgb(32, 32, 32);
}

main{
    flex-grow: 1;
}
.container {
    max-width: 1200px;
    margin: 40px auto;
    justify-items: center;
}
.search-input{
    background-color: rgba(128, 128, 128, 0.363);
    padding: 5px;
    transition: background-color 0.3s ease;
}
.search-input:hover,
.search-input:focus{
    background-color: rgba(128, 128, 128, 0.753);
}
.search-button{
    cursor: pointer;
    width: 40px;
    transition: color 0.3s ease;
}
.search-button:hover,
.search-button:focus{
    color: gray;
}
.trash-button{
    cursor: pointer;
    transition: color 0.3s ease;
}
.trash-button:hover,
.trash-button:focus{
    color: rgb(211, 0, 0);
}
.bi-trash-fill{
    font-size: 30px;
}
.main-menu li{
    transition: color 0.3s ease;
}
.main-menu li:hover,
.main-menu li:focus{
    color: rgb(107, 57, 0);
}
.create-card{
    transition: color 0.3s ease;
}
.create-card:hover,
.create-card:focus{
    color: rgb(107, 57, 0);
}

/* ---------------index--------------- */
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.categ-title{
    font-size: large;
    margin-top: 40px;
}
.delete-card{
    color: red;
    cursor: pointer;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.delete-card:hover,
.delete-card:focus{
    color: white;
    background-color: red;
}
.edit-card{
    color: rgb(0, 151, 76);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    transition: all 0.3s ease;
}
.edit-card:hover,
.edit-card:focus{
    color: white;
    background-color: rgb(0, 151, 76);
}
.form-delete{
    margin-top: 10px;
}

/* -------------create product - edit-form--------------- */
.create-form,
.edit-form{
    border: 2px gray solid;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    background-color: rgb(255, 255, 255);
}
.create-form input,
.create-form textarea,
.create-form select,
.edit-form input,
.edit-form textarea,
.edit-form select{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 2px gray solid;
    border-radius: 10px;
    width: 100%;
}
.desc-create,
.desc-update{
    min-height: 150px;
    max-height: 250px;
}
.btn-create,
.btn-edit{
    font-weight: bold;
    border: 2px gray solid;
    border-radius: 10px;
    padding: 5px;
    transition: all 0.2s ease-in-out;
}
.btn-create:hover,
.btn-create:focus,
.btn-edit:hover,
.btn-edit:focus{
    border-color: white;
    background-color: gray;
    color: white;
}
/* ---------------p-main--------------- */
.con-pmain div{
    margin-top: 15px;
    margin-bottom: 15px;
}
.pmain-banner{
    width: 100%;
}
.pmain-banner img{
    width: 100%;
    border-radius: 10px;
    filter: hue-rotate(40deg);
}
.pmain-info h3{
    font-weight: bold;
}
.pmain-info p{
    text-indent: 2em;
}
.pmain-info ul{
    list-style: circle;
    padding-left: 40px;
}
.pmain-contacts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pmain-contacts-map iframe{
    width: 800px;
    height: 400px;
}
.separation{
    height: 2px;
    width: 1090px;
    background-color: #4a4a4a;
}